/**
 * The Plaid API
 *
 * The Plaid REST API. Please see https://plaid.com/docs/api for more details.
 *
 * The version of the OpenAPI document: 2020-09-14_1.164.8
 *
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package net.djvk.fireflyPlaidConnector2.api.plaid.apis

import com.fasterxml.jackson.databind.ObjectMapper
import io.ktor.client.*
import io.ktor.client.engine.*
import net.djvk.fireflyPlaidConnector2.api.plaid.infrastructure.*
import net.djvk.fireflyPlaidConnector2.api.plaid.models.*
import org.springframework.beans.factory.annotation.Value
import org.springframework.stereotype.Component
import java.io.File

@Component
open class PlaidApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    jsonBlock: ObjectMapper.() -> Unit = ApiClient.JSON_DEFAULT,
) : ApiClient(baseUrl, httpClientEngine, httpClientConfig, jsonBlock) {

    /**
     * Retrieve real-time balance data
     * The &#x60;/accounts/balance/get&#x60; endpoint returns the real-time balance for each of an Item&#39;s accounts. While other endpoints may return a balance object, only &#x60;/accounts/balance/get&#x60; forces the available and current balance fields to be refreshed rather than cached. This endpoint can be used for existing Items that were added via any of Plaid’s other products. This endpoint can be used as long as Link has been initialized with any other product, &#x60;balance&#x60; itself is not a product that can be used to initialize Link.
     * @param accountsBalanceGetRequest
     * @return AccountsGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountsBalanceGet(accountsBalanceGetRequest: AccountsBalanceGetRequest): HttpResponse<AccountsGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = accountsBalanceGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/accounts/balance/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve accounts
     * The &#x60;/accounts/get&#x60; endpoint can be used to retrieve a list of accounts associated with any linked Item. Plaid will only return active bank accounts — that is, accounts that are not closed and are capable of carrying a balance. For items that went through the updated account selection pane, this endpoint only returns accounts that were permissioned by the user when they initially created the Item. If a user creates a new account after the initial link, you can capture this event through the [&#x60;NEW_ACCOUNTS_AVAILABLE&#x60;](https://plaid.com/docs/api/items/#new_accounts_available) webhook and then use Link&#39;s [update mode](https://plaid.com/docs/link/update-mode/) to request that the user share this new account with you.  This endpoint retrieves cached information, rather than extracting fresh information from the institution. As a result, balances returned may not be up-to-date; for realtime balance information, use &#x60;/accounts/balance/get&#x60; instead. Note that some information is nullable.
     * @param accountsGetRequest
     * @return AccountsGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountsGet(accountsGetRequest: AccountsGetRequest): HttpResponse<AccountsGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = accountsGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/accounts/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve information about a Plaid application
     * Allows financial institutions to retrieve information about Plaid clients for the purpose of building control-tower experiences
     * @param applicationGetRequest
     * @return ApplicationGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun applicationGet(applicationGetRequest: ApplicationGetRequest): HttpResponse<ApplicationGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = applicationGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/application/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Create Asset Report Audit Copy
     * Plaid can provide an Audit Copy of any Asset Report directly to a participating third party on your behalf. For example, Plaid can supply an Audit Copy directly to Fannie Mae on your behalf if you participate in the Day 1 Certainty™ program. An Audit Copy contains the same underlying data as the Asset Report.  To grant access to an Audit Copy, use the &#x60;/asset_report/audit_copy/create&#x60; endpoint to create an &#x60;audit_copy_token&#x60; and then pass that token to the third party who needs access. Each third party has its own &#x60;auditor_id&#x60;, for example &#x60;fannie_mae&#x60;. You’ll need to create a separate Audit Copy for each third party to whom you want to grant access to the Report.
     * @param assetReportAuditCopyCreateRequest
     * @return AssetReportAuditCopyCreateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun assetReportAuditCopyCreate(assetReportAuditCopyCreateRequest: AssetReportAuditCopyCreateRequest): HttpResponse<AssetReportAuditCopyCreateResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = assetReportAuditCopyCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/asset_report/audit_copy/create",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve an Asset Report Audit Copy
     * &#x60;/asset_report/audit_copy/get&#x60; allows auditors to get a copy of an Asset Report that was previously shared via the &#x60;/asset_report/audit_copy/create&#x60; endpoint.  The caller of &#x60;/asset_report/audit_copy/create&#x60; must provide the &#x60;audit_copy_token&#x60; to the auditor.  This token can then be used to call &#x60;/asset_report/audit_copy/create&#x60;.
     * @param assetReportAuditCopyGetRequest
     * @return AssetReportGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun assetReportAuditCopyGet(assetReportAuditCopyGetRequest: AssetReportAuditCopyGetRequest): HttpResponse<AssetReportGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = assetReportAuditCopyGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/asset_report/audit_copy/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Remove Asset Report Audit Copy
     * The &#x60;/asset_report/audit_copy/remove&#x60; endpoint allows you to remove an Audit Copy. Removing an Audit Copy invalidates the &#x60;audit_copy_token&#x60; associated with it, meaning both you and any third parties holding the token will no longer be able to use it to access Report data. Items associated with the Asset Report, the Asset Report itself and other Audit Copies of it are not affected and will remain accessible after removing the given Audit Copy.
     * @param assetReportAuditCopyRemoveRequest
     * @return AssetReportAuditCopyRemoveResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun assetReportAuditCopyRemove(assetReportAuditCopyRemoveRequest: AssetReportAuditCopyRemoveRequest): HttpResponse<AssetReportAuditCopyRemoveResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = assetReportAuditCopyRemoveRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/asset_report/audit_copy/remove",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Create an Asset Report
     * The &#x60;/asset_report/create&#x60; endpoint initiates the process of creating an Asset Report, which can then be retrieved by passing the &#x60;asset_report_token&#x60; return value to the &#x60;/asset_report/get&#x60; or &#x60;/asset_report/pdf/get&#x60; endpoints.  The Asset Report takes some time to be created and is not available immediately after calling &#x60;/asset_report/create&#x60;. When the Asset Report is ready to be retrieved using &#x60;/asset_report/get&#x60; or &#x60;/asset_report/pdf/get&#x60;, Plaid will fire a &#x60;PRODUCT_READY&#x60; webhook. For full details of the webhook schema, see [Asset Report webhooks](https://plaid.com/docs/api/products/assets/#webhooks).  The &#x60;/asset_report/create&#x60; endpoint creates an Asset Report at a moment in time. Asset Reports are immutable. To get an updated Asset Report, use the &#x60;/asset_report/refresh&#x60; endpoint.
     * @param assetReportCreateRequest
     * @return AssetReportCreateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun assetReportCreate(assetReportCreateRequest: AssetReportCreateRequest): HttpResponse<AssetReportCreateResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = assetReportCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/asset_report/create",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Filter Asset Report
     * By default, an Asset Report will contain all of the accounts on a given Item. In some cases, you may not want the Asset Report to contain all accounts. For example, you might have the end user choose which accounts are relevant in Link using the Account Select view, which you can enable in the dashboard. Or, you might always exclude certain account types or subtypes, which you can identify by using the &#x60;/accounts/get&#x60; endpoint. To narrow an Asset Report to only a subset of accounts, use the &#x60;/asset_report/filter&#x60; endpoint.  To exclude certain Accounts from an Asset Report, first use the &#x60;/asset_report/create&#x60; endpoint to create the report, then send the &#x60;asset_report_token&#x60; along with a list of &#x60;account_ids&#x60; to exclude to the &#x60;/asset_report/filter&#x60; endpoint, to create a new Asset Report which contains only a subset of the original Asset Report&#39;s data.  Because Asset Reports are immutable, calling &#x60;/asset_report/filter&#x60; does not alter the original Asset Report in any way; rather, &#x60;/asset_report/filter&#x60; creates a new Asset Report with a new token and id. Asset Reports created via &#x60;/asset_report/filter&#x60; do not contain new Asset data, and are not billed.  Plaid will fire a [&#x60;PRODUCT_READY&#x60;](https://plaid.com/docs/api/products/assets/#product_ready) webhook once generation of the filtered Asset Report has completed.
     * @param assetReportFilterRequest
     * @return AssetReportFilterResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun assetReportFilter(assetReportFilterRequest: AssetReportFilterRequest): HttpResponse<AssetReportFilterResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = assetReportFilterRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/asset_report/filter",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve an Asset Report
     * The &#x60;/asset_report/get&#x60; endpoint retrieves the Asset Report in JSON format. Before calling &#x60;/asset_report/get&#x60;, you must first create the Asset Report using &#x60;/asset_report/create&#x60; (or filter an Asset Report using &#x60;/asset_report/filter&#x60;) and then wait for the [&#x60;PRODUCT_READY&#x60;](https://plaid.com/docs/api/products/assets/#product_ready) webhook to fire, indicating that the Report is ready to be retrieved.  By default, an Asset Report includes transaction descriptions as returned by the bank, as opposed to parsed and categorized by Plaid. You can also receive cleaned and categorized transactions, as well as additional insights like merchant name or location information. We call this an Asset Report with Insights. An Asset Report with Insights provides transaction category, location, and merchant information in addition to the transaction strings provided in a standard Asset Report.  To retrieve an Asset Report with Insights, call the &#x60;/asset_report/get&#x60; endpoint with &#x60;include_insights&#x60; set to &#x60;true&#x60;.
     * @param assetReportGetRequest
     * @return AssetReportGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun assetReportGet(assetReportGetRequest: AssetReportGetRequest): HttpResponse<AssetReportGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = assetReportGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/asset_report/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve a PDF Asset Report
     * The &#x60;/asset_report/pdf/get&#x60; endpoint retrieves the Asset Report in PDF format. Before calling &#x60;/asset_report/pdf/get&#x60;, you must first create the Asset Report using &#x60;/asset_report/create&#x60; (or filter an Asset Report using &#x60;/asset_report/filter&#x60;) and then wait for the [&#x60;PRODUCT_READY&#x60;](https://plaid.com/docs/api/products/assets/#product_ready) webhook to fire, indicating that the Report is ready to be retrieved.  The response to &#x60;/asset_report/pdf/get&#x60; is the PDF binary data. The &#x60;request_id&#x60;  is returned in the &#x60;Plaid-Request-ID&#x60; header.  [View a sample PDF Asset Report](https://plaid.com/documents/sample-asset-report.pdf).
     * @param assetReportPDFGetRequest
     * @return java.io.File
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun assetReportPdfGet(assetReportPDFGetRequest: AssetReportPDFGetRequest): HttpResponse<File> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = assetReportPDFGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/asset_report/pdf/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Refresh an Asset Report
     * An Asset Report is an immutable snapshot of a user&#39;s assets. In order to \&quot;refresh\&quot; an Asset Report you created previously, you can use the &#x60;/asset_report/refresh&#x60; endpoint to create a new Asset Report based on the old one, but with the most recent data available.  The new Asset Report will contain the same Items as the original Report, as well as the same filters applied by any call to &#x60;/asset_report/filter&#x60;. By default, the new Asset Report will also use the same parameters you submitted with your original &#x60;/asset_report/create&#x60; request, but the original &#x60;days_requested&#x60; value and the values of any parameters in the &#x60;options&#x60; object can be overridden with new values. To change these arguments, simply supply new values for them in your request to &#x60;/asset_report/refresh&#x60;. Submit an empty string (\&quot;\&quot;) for any previously-populated fields you would like set as empty.
     * @param assetReportRefreshRequest
     * @return AssetReportRefreshResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun assetReportRefresh(assetReportRefreshRequest: AssetReportRefreshRequest): HttpResponse<AssetReportRefreshResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = assetReportRefreshRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/asset_report/refresh",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Create an &#x60;asset_relay_token&#x60; to share an Asset Report with a partner client
     * Plaid can share an Asset Report directly with a participating third party on your behalf. The shared Asset Report is the exact same Asset Report originally created in &#x60;/asset_report/create&#x60;.  To grant access to an Asset Report to a third party, use the &#x60;/asset_report/relay/create&#x60; endpoint to create an &#x60;asset_relay_token&#x60; and then pass that token to the third party who needs access. Each third party has its own &#x60;secondary_client_id&#x60;, for example &#x60;ce5bd328dcd34123456&#x60;. You&#39;ll need to create a separate &#x60;asset_relay_token&#x60; for each third party to whom you want to grant access to the Report.
     * @param assetReportRelayCreateRequest
     * @return AssetReportRelayCreateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun assetReportRelayCreate(assetReportRelayCreateRequest: AssetReportRelayCreateRequest): HttpResponse<AssetReportRelayCreateResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = assetReportRelayCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/asset_report/relay/create",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve an Asset Report that was shared with you
     * &#x60;/asset_report/relay/get&#x60; allows third parties to get an Asset Report that was shared with them, using an &#x60;asset_relay_token&#x60; that was created by the report owner.
     * @param assetReportRelayGetRequest
     * @return AssetReportGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun assetReportRelayGet(assetReportRelayGetRequest: AssetReportRelayGetRequest): HttpResponse<AssetReportGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = assetReportRelayGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/asset_report/relay/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Refresh a Relay Token&#39;s Asset Report
     * The &#x60;/asset_report/relay/refresh&#x60; endpoint allows third parties to refresh an Asset Report that was relayed to them, using an &#x60;asset_relay_token&#x60; that was created by the report owner. A new Asset Report will be created based on the old one, but with the most recent data available.
     * @param assetReportRelayRefreshRequest
     * @return AssetReportRelayRefreshResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun assetReportRelayRefresh(assetReportRelayRefreshRequest: AssetReportRelayRefreshRequest): HttpResponse<AssetReportRelayRefreshResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = assetReportRelayRefreshRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/asset_report/relay/refresh",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Remove Asset Report Relay Token
     * The &#x60;/asset_report/relay/remove&#x60; endpoint allows you to invalidate an &#x60;asset_relay_token&#x60;, meaning the third party holding the token will no longer be able to use it to access the Asset Report to which the &#x60;asset_relay_token&#x60; gives access to. The Asset Report, Items associated with it, and other Asset Relay Tokens that provide access to the same Asset Report are not affected and will remain accessible after removing the given &#x60;asset_relay_token.
     * @param assetReportRelayRemoveRequest
     * @return AssetReportRelayRemoveResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun assetReportRelayRemove(assetReportRelayRemoveRequest: AssetReportRelayRemoveRequest): HttpResponse<AssetReportRelayRemoveResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = assetReportRelayRemoveRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/asset_report/relay/remove",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Delete an Asset Report
     * The &#x60;/item/remove&#x60; endpoint allows you to invalidate an &#x60;access_token&#x60;, meaning you will not be able to create new Asset Reports with it. Removing an Item does not affect any Asset Reports or Audit Copies you have already created, which will remain accessible until you remove them specifically.  The &#x60;/asset_report/remove&#x60; endpoint allows you to remove an Asset Report. Removing an Asset Report invalidates its &#x60;asset_report_token&#x60;, meaning you will no longer be able to use it to access Report data or create new Audit Copies. Removing an Asset Report does not affect the underlying Items, but does invalidate any &#x60;audit_copy_tokens&#x60; associated with the Asset Report.
     * @param assetReportRemoveRequest
     * @return AssetReportRemoveResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun assetReportRemove(assetReportRemoveRequest: AssetReportRemoveRequest): HttpResponse<AssetReportRemoveResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = assetReportRemoveRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/asset_report/remove",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve auth data
     * The &#x60;/auth/get&#x60; endpoint returns the bank account and bank identification numbers (such as routing numbers, for US accounts) associated with an Item&#39;s checking and savings accounts, along with high-level account data and balances when available.  Note: This request may take some time to complete if &#x60;auth&#x60; was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.  Also note that &#x60;/auth/get&#x60; will not return data for any new accounts opened after the Item was created. To obtain data for new accounts, create a new Item.  Versioning note: In API version 2017-03-08, the schema of the &#x60;numbers&#x60; object returned by this endpoint is substantially different. For details, see [Plaid API versioning](https://plaid.com/docs/api/versioning/#version-2018-05-22).
     * @param authGetRequest
     * @return AuthGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun authGet(authGetRequest: AuthGetRequest): HttpResponse<AuthGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = authGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/auth/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Get balance of your Bank Transfer account
     * Use the &#x60;/bank_transfer/balance/get&#x60; endpoint to see the available balance in your bank transfer account. Debit transfers increase this balance once their status is posted. Credit transfers decrease this balance when they are created.  The transactable balance shows the amount in your account that you are able to use for transfers, and is essentially your available balance minus your minimum balance.  Note that this endpoint can only be used with FBO accounts, when using Bank Transfers in the Full Service configuration. It cannot be used on your own account when using Bank Transfers in the BTS Platform configuration.
     * @param bankTransferBalanceGetRequest
     * @return BankTransferBalanceGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun bankTransferBalanceGet(bankTransferBalanceGetRequest: BankTransferBalanceGetRequest): HttpResponse<BankTransferBalanceGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = bankTransferBalanceGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/bank_transfer/balance/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Cancel a bank transfer
     * Use the &#x60;/bank_transfer/cancel&#x60; endpoint to cancel a bank transfer.  A transfer is eligible for cancelation if the &#x60;cancellable&#x60; property returned by &#x60;/bank_transfer/get&#x60; is &#x60;true&#x60;.
     * @param bankTransferCancelRequest
     * @return BankTransferCancelResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun bankTransferCancel(bankTransferCancelRequest: BankTransferCancelRequest): HttpResponse<BankTransferCancelResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = bankTransferCancelRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/bank_transfer/cancel",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Create a bank transfer
     * Use the &#x60;/bank_transfer/create&#x60; endpoint to initiate a new bank transfer.
     * @param bankTransferCreateRequest
     * @return BankTransferCreateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun bankTransferCreate(bankTransferCreateRequest: BankTransferCreateRequest): HttpResponse<BankTransferCreateResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = bankTransferCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/bank_transfer/create",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * List bank transfer events
     * Use the &#x60;/bank_transfer/event/list&#x60; endpoint to get a list of bank transfer events based on specified filter criteria.
     * @param bankTransferEventListRequest
     * @return BankTransferEventListResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun bankTransferEventList(bankTransferEventListRequest: BankTransferEventListRequest): HttpResponse<BankTransferEventListResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = bankTransferEventListRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/bank_transfer/event/list",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Sync bank transfer events
     * &#x60;/bank_transfer/event/sync&#x60; allows you to request up to the next 25 bank transfer events that happened after a specific &#x60;event_id&#x60;. Use the &#x60;/bank_transfer/event/sync&#x60; endpoint to guarantee you have seen all bank transfer events.
     * @param bankTransferEventSyncRequest
     * @return BankTransferEventSyncResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun bankTransferEventSync(bankTransferEventSyncRequest: BankTransferEventSyncRequest): HttpResponse<BankTransferEventSyncResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = bankTransferEventSyncRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/bank_transfer/event/sync",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve a bank transfer
     * The &#x60;/bank_transfer/get&#x60; fetches information about the bank transfer corresponding to the given &#x60;bank_transfer_id&#x60;.
     * @param bankTransferGetRequest
     * @return BankTransferGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun bankTransferGet(bankTransferGetRequest: BankTransferGetRequest): HttpResponse<BankTransferGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = bankTransferGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/bank_transfer/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * List bank transfers
     * Use the &#x60;/bank_transfer/list&#x60; endpoint to see a list of all your bank transfers and their statuses. Results are paginated; use the &#x60;count&#x60; and &#x60;offset&#x60; query parameters to retrieve the desired bank transfers.
     * @param bankTransferListRequest
     * @return BankTransferListResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun bankTransferList(bankTransferListRequest: BankTransferListRequest): HttpResponse<BankTransferListResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = bankTransferListRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/bank_transfer/list",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Migrate account into Bank Transfers
     * As an alternative to adding Items via Link, you can also use the &#x60;/bank_transfer/migrate_account&#x60; endpoint to migrate known account and routing numbers to Plaid Items.  Note that Items created in this way are not compatible with endpoints for other products, such as &#x60;/accounts/balance/get&#x60;, and can only be used with Bank Transfer endpoints.  If you require access to other endpoints, create the Item through Link instead.  Access to &#x60;/bank_transfer/migrate_account&#x60; is not enabled by default; to obtain access, contact your Plaid Account Manager.
     * @param bankTransferMigrateAccountRequest
     * @return BankTransferMigrateAccountResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun bankTransferMigrateAccount(bankTransferMigrateAccountRequest: BankTransferMigrateAccountRequest): HttpResponse<BankTransferMigrateAccountResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = bankTransferMigrateAccountRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/bank_transfer/migrate_account",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve a sweep
     * The &#x60;/bank_transfer/sweep/get&#x60; endpoint fetches information about the sweep corresponding to the given &#x60;sweep_id&#x60;.
     * @param bankTransferSweepGetRequest
     * @return BankTransferSweepGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun bankTransferSweepGet(bankTransferSweepGetRequest: BankTransferSweepGetRequest): HttpResponse<BankTransferSweepGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = bankTransferSweepGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/bank_transfer/sweep/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * List sweeps
     * The &#x60;/bank_transfer/sweep/list&#x60; endpoint fetches information about the sweeps matching the given filters.
     * @param bankTransferSweepListRequest
     * @return BankTransferSweepListResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun bankTransferSweepList(bankTransferSweepListRequest: BankTransferSweepListRequest): HttpResponse<BankTransferSweepListResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = bankTransferSweepListRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/bank_transfer/sweep/list",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Get Categories
     * Send a request to the &#x60;/categories/get&#x60; endpoint to get detailed information on categories returned by Plaid. This endpoint does not require authentication.
     * @param body
     * @return CategoriesGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun categoriesGet(body: kotlin.Any): HttpResponse<CategoriesGetResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/categories/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Create payment token
     * The &#x60;/payment_initiation/payment/token/create&#x60; endpoint has been deprecated. New Plaid customers will be unable to use this endpoint, and existing customers are encouraged to migrate to the newer, &#x60;link_token&#x60;-based flow. The recommended flow is to provide the &#x60;payment_id&#x60; to &#x60;/link/token/create&#x60;, which returns a &#x60;link_token&#x60; used to initialize Link.  The &#x60;/payment_initiation/payment/token/create&#x60; is used to create a &#x60;payment_token&#x60;, which can then be used in Link initialization to enter a payment initiation flow. You can only use a &#x60;payment_token&#x60; once. If this attempt fails, the end user aborts the flow, or the token expires, you will need to create a new payment token. Creating a new payment token does not require end user input.
     * @param paymentInitiationPaymentTokenCreateRequest
     * @return PaymentInitiationPaymentTokenCreateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createPaymentToken(paymentInitiationPaymentTokenCreateRequest: PaymentInitiationPaymentTokenCreateRequest): HttpResponse<PaymentInitiationPaymentTokenCreateResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = paymentInitiationPaymentTokenCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/payment_initiation/payment/token/create",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve an Asset Report with Freddie Mac format. Only Freddie Mac can use this endpoint.
     * The &#x60;credit/asset_report/freddie_mac/get&#x60; endpoint retrieves the Asset Report in Freddie Mac&#39;s JSON format.
     * @param requestBody
     * @return AssetReportFreddieGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun creditAssetReportFreddieMacGet(requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>): HttpResponse<AssetReportFreddieGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = requestBody

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/credit/asset_report/freddie_mac/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Create Asset or Income Report Audit Copy Token
     * Plaid can provide an Audit Copy token of an Asset Report and/or Income Report directly to a participating third party on your behalf. For example, Plaid can supply an Audit Copy token directly to Fannie Mae on your behalf if you participate in the Day 1 Certainty™ program. An Audit Copy token contains the same underlying data as the Asset Report and/or Income Report (result of /credit/payroll_income/get).  To grant access to an Audit Copy token, use the &#x60;/credit/audit_copy_token/create&#x60; endpoint to create an &#x60;audit_copy_token&#x60; and then pass that token to the third party who needs access. Each third party has its own &#x60;auditor_id&#x60;, for example &#x60;fannie_mae&#x60;. You’ll need to create a separate Audit Copy for each third party to whom you want to grant access to the Report.
     * @param creditAuditCopyTokenCreateRequest
     * @return CreditAuditCopyTokenCreateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun creditAuditCopyTokenCreate(creditAuditCopyTokenCreateRequest: CreditAuditCopyTokenCreateRequest): HttpResponse<CreditAuditCopyTokenCreateResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = creditAuditCopyTokenCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/credit/audit_copy_token/create",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve information from the bank accounts used for income verification
     * &#x60;/credit/bank_income/get&#x60; returns the bank income report(s) for a specified user.
     * @param creditBankIncomeGetRequest
     * @return CreditBankIncomeGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun creditBankIncomeGet(creditBankIncomeGetRequest: CreditBankIncomeGetRequest): HttpResponse<CreditBankIncomeGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = creditBankIncomeGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/credit/bank_income/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve information from the bank accounts used for income verification in PDF format
     * &#x60;/credit/bank_income/pdf/get&#x60; returns the most recent bank income report for a specified user in PDF format.
     * @param creditBankIncomePDFGetRequest
     * @return java.io.File
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun creditBankIncomePdfGet(creditBankIncomePDFGetRequest: CreditBankIncomePDFGetRequest): HttpResponse<File> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = creditBankIncomePDFGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/credit/bank_income/pdf/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Refresh a user&#39;s bank income information
     * &#x60;/credit/bank_income/refresh&#x60; refreshes the bank income report data for a specific user.
     * @param creditBankIncomeRefreshRequest
     * @return CreditBankIncomeRefreshResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun creditBankIncomeRefresh(creditBankIncomeRefreshRequest: CreditBankIncomeRefreshRequest): HttpResponse<CreditBankIncomeRefreshResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = creditBankIncomeRefreshRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/credit/bank_income/refresh",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve a summary of an individual&#39;s employment information
     * &#x60;/credit/employment/get&#x60; returns a list of items with employment information from a user&#39;s payroll provider that was verified by an end user.
     * @param creditEmploymentGetRequest
     * @return CreditEmploymentGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun creditEmploymentGet(creditEmploymentGetRequest: CreditEmploymentGetRequest): HttpResponse<CreditEmploymentGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = creditEmploymentGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/credit/employment/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve a user&#39;s payroll information
     * This endpoint gets payroll income information for a specific user, either as a result of the user connecting to their payroll provider or uploading a pay related document.
     * @param creditPayrollIncomeGetRequest
     * @return CreditPayrollIncomeGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun creditPayrollIncomeGet(creditPayrollIncomeGetRequest: CreditPayrollIncomeGetRequest): HttpResponse<CreditPayrollIncomeGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = creditPayrollIncomeGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/credit/payroll_income/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Check income verification eligibility and optimize conversion
     * &#x60;/credit/payroll_income/precheck&#x60; is an optional endpoint that can be called before initializing a Link session for income verification. It evaluates whether a given user is supportable by digital income verification. If the user is eligible for digital verification, that information will be associated with the user token, and in this way will generate a Link UI optimized for the end user and their specific employer. If the user cannot be confirmed as eligible, the user can still use the income verification flow, but they may be required to manually upload a paystub to verify their income.  While all request fields are optional, providing &#x60;employer&#x60; data will increase the chance of receiving a useful result.
     * @param creditPayrollIncomePrecheckRequest
     * @return CreditPayrollIncomePrecheckResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun creditPayrollIncomePrecheck(creditPayrollIncomePrecheckRequest: CreditPayrollIncomePrecheckRequest): HttpResponse<CreditPayrollIncomePrecheckResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = creditPayrollIncomePrecheckRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/credit/payroll_income/precheck",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Refresh a digital payroll income verification
     * &#x60;/credit/payroll_income/refresh&#x60; refreshes a given digital payroll income verification.
     * @param creditPayrollIncomeRefreshRequest
     * @return CreditPayrollIncomeRefreshResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun creditPayrollIncomeRefresh(creditPayrollIncomeRefreshRequest: CreditPayrollIncomeRefreshRequest): HttpResponse<CreditPayrollIncomeRefreshResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = creditPayrollIncomeRefreshRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/credit/payroll_income/refresh",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Create a &#x60;relay_token&#x60; to share an Asset Report with a partner client
     * Plaid can share an Asset Report directly with a participating third party on your behalf. The shared Asset Report is the exact same Asset Report originally created in &#x60;/asset_report/create&#x60;.  To grant access to an Asset Report to a third party, use the &#x60;/credit/relay/create&#x60; endpoint to create a &#x60;relay_token&#x60; and then pass that token to the third party who needs access. Each third party has its own &#x60;secondary_client_id&#x60;, for example &#x60;ce5bd328dcd34123456&#x60;. You&#39;ll need to create a separate &#x60;relay_token&#x60; for each third party to whom you want to grant access to the Report.
     * @param creditRelayCreateRequest
     * @return CreditRelayCreateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun creditRelayCreate(creditRelayCreateRequest: CreditRelayCreateRequest): HttpResponse<CreditRelayCreateResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = creditRelayCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/credit/relay/create",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve the reports associated with a Relay token that was shared with you
     * &#x60;/credit/relay/get&#x60; allows third parties to get a report that was shared with them, using an &#x60;relay_token&#x60; that was created by the report owner.
     * @param creditRelayGetRequest
     * @return AssetReportGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun creditRelayGet(creditRelayGetRequest: CreditRelayGetRequest): HttpResponse<AssetReportGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = creditRelayGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/credit/relay/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Refresh a report of a Relay Token
     * The &#x60;/credit/relay/refresh&#x60; endpoint allows third parties to refresh an report that was relayed to them, using a &#x60;relay_token&#x60; that was created by the report owner. A new report will be created based on the old one, but with the most recent data available.
     * @param creditRelayRefreshRequest
     * @return CreditRelayRefreshResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun creditRelayRefresh(creditRelayRefreshRequest: CreditRelayRefreshRequest): HttpResponse<CreditRelayRefreshResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = creditRelayRefreshRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/credit/relay/refresh",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Remove Credit Relay Token
     * The &#x60;/credit/relay/remove&#x60; endpoint allows you to invalidate a &#x60;relay_token&#x60;, meaning the third party holding the token will no longer be able to use it to access the reports to which the &#x60;relay_token&#x60; gives access to. The report, items associated with it, and other Relay tokens that provide access to the same report are not affected and will remain accessible after removing the given &#x60;relay_token.
     * @param creditRelayRemoveRequest
     * @return CreditRelayRemoveResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun creditRelayRemove(creditRelayRemoveRequest: CreditRelayRemoveRequest): HttpResponse<CreditRelayRemoveResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = creditRelayRemoveRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/credit/relay/remove",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Remove an Audit Copy token
     * The &#x60;/credit/audit_copy_token/remove&#x60; endpoint allows you to remove an Audit Copy. Removing an Audit Copy invalidates the &#x60;audit_copy_token&#x60; associated with it, meaning both you and any third parties holding the token will no longer be able to use it to access Report data. Items associated with the Report data and other Audit Copies of it are not affected and will remain accessible after removing the given Audit Copy.
     * @param creditAuditCopyTokenRemoveRequest
     * @return CreditAuditCopyTokenRemoveResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun creditReportAuditCopyRemove(creditAuditCopyTokenRemoveRequest: CreditAuditCopyTokenRemoveRequest): HttpResponse<CreditAuditCopyTokenRemoveResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = creditAuditCopyTokenRemoveRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/credit/audit_copy_token/remove",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * List dashboard users
     * List all dashboard users associated with your account.
     * @param listDashboardUserRequest
     * @return PaginatedDashboardUserListResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun dashboardUserList(listDashboardUserRequest: ListDashboardUserRequest): HttpResponse<PaginatedDashboardUserListResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = listDashboardUserRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/dashboard_user/list",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve a dashboard user
     * Retrieve information about a dashboard user.
     * @param getDashboardUserRequest
     * @return DashboardUserResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun dashobardUserGet(getDashboardUserRequest: GetDashboardUserRequest): HttpResponse<DashboardUserResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = getDashboardUserRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/dashboard_user/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Create a deposit switch without using Plaid Exchange
     * This endpoint provides an alternative to &#x60;/deposit_switch/create&#x60; for customers who have not yet fully integrated with Plaid Exchange. Like &#x60;/deposit_switch/create&#x60;, it creates a deposit switch entity that will be persisted throughout the lifecycle of the switch.
     * @param depositSwitchAltCreateRequest
     * @return DepositSwitchAltCreateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun depositSwitchAltCreate(depositSwitchAltCreateRequest: DepositSwitchAltCreateRequest): HttpResponse<DepositSwitchAltCreateResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = depositSwitchAltCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/deposit_switch/alt/create",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Create a deposit switch
     * This endpoint creates a deposit switch entity that will be persisted throughout the lifecycle of the switch.
     * @param depositSwitchCreateRequest
     * @return DepositSwitchCreateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun depositSwitchCreate(depositSwitchCreateRequest: DepositSwitchCreateRequest): HttpResponse<DepositSwitchCreateResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = depositSwitchCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/deposit_switch/create",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve a deposit switch
     * This endpoint returns information related to how the user has configured their payroll allocation and the state of the switch. You can use this information to build logic related to the user&#39;s direct deposit allocation preferences.
     * @param depositSwitchGetRequest
     * @return DepositSwitchGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun depositSwitchGet(depositSwitchGetRequest: DepositSwitchGetRequest): HttpResponse<DepositSwitchGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = depositSwitchGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/deposit_switch/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Create a deposit switch token
     * In order for the end user to take action, you will need to create a public token representing the deposit switch. This token is used to initialize Link. It can be used one time and expires after 30 minutes.
     * @param depositSwitchTokenCreateRequest
     * @return DepositSwitchTokenCreateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun depositSwitchTokenCreate(depositSwitchTokenCreateRequest: DepositSwitchTokenCreateRequest): HttpResponse<DepositSwitchTokenCreateResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = depositSwitchTokenCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/deposit_switch/token/create",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Search employer database
     * &#x60;/employers/search&#x60; allows you the ability to search Plaid’s database of known employers, for use with Deposit Switch. You can use this endpoint to look up a user&#39;s employer in order to confirm that they are supported. Users with non-supported employers can then be routed out of the Deposit Switch flow.  The data in the employer database is currently limited. As the Deposit Switch and Income products progress through their respective beta periods, more employers are being regularly added. Because the employer database is frequently updated, we recommend that you do not cache or store data from this endpoint for more than a day.
     * @param employersSearchRequest
     * @return EmployersSearchResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun employersSearch(employersSearchRequest: EmployersSearchRequest): HttpResponse<EmployersSearchResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = employersSearchRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/employers/search",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * (Deprecated) Retrieve a summary of an individual&#39;s employment information
     * &#x60;/employment/verification/get&#x60; returns a list of employments through a user payroll that was verified by an end user.  This endpoint has been deprecated; new integrations should use &#x60;/credit/employment/get&#x60; instead.
     * @param employmentVerificationGetRequest
     * @return EmploymentVerificationGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun employmentVerificationGet(employmentVerificationGetRequest: EmploymentVerificationGetRequest): HttpResponse<EmploymentVerificationGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = employmentVerificationGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/employment/verification/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve identity data
     * The &#x60;/identity/get&#x60; endpoint allows you to retrieve various account holder information on file with the financial institution, including names, emails, phone numbers, and addresses. Only name data is guaranteed to be returned; other fields will be empty arrays if not provided by the institution.  This request may take some time to complete if identity was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.  Note: In API versions 2018-05-22 and earlier, the &#x60;owners&#x60; object is not returned, and instead identity information is returned in the top level &#x60;identity&#x60; object. For more details, see [Plaid API versioning](https://plaid.com/docs/api/versioning/#version-2019-05-29).
     * @param identityGetRequest
     * @return IdentityGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun identityGet(identityGetRequest: IdentityGetRequest): HttpResponse<IdentityGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = identityGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/identity/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve identity match score
     * The &#x60;/identity/match&#x60; endpoint generates a match score, which indicates how well the provided identity data matches the identity information on file with the account holder&#39;s financial institution.  This request may take some time to complete if Identity was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.
     * @param identityMatchRequest
     * @return IdentityMatchResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun identityMatch(identityMatchRequest: IdentityMatchRequest): HttpResponse<IdentityMatchResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = identityMatchRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/identity/match",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Create a new identity verification
     * Create a new Identity Verification for the user specified by the &#x60;client_user_id&#x60; field. The requirements and behavior of the verification are determined by the &#x60;template_id&#x60; provided. If you don&#39;t know whether the associated user already has an active Identity Verification, you can specify &#x60;\&quot;is_idempotent\&quot;: true&#x60; in the request body. With idempotency enabled, a new Identity Verification will only be created if one does not already exist for the associated &#x60;client_user_id&#x60; and &#x60;template_id&#x60;. If an Identity Verification is found, it will be returned unmodified with an &#x60;200 OK&#x60; HTTP status code.
     * @param identityVerificationCreateRequest
     * @return IdentityVerificationResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun identityVerificationCreate(identityVerificationCreateRequest: IdentityVerificationCreateRequest): HttpResponse<IdentityVerificationResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = identityVerificationCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/identity_verification/create",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retrieve Identity Verification
     * Retrieve a previously created identity verification
     * @param getIdentityVerificationRequest
     * @return IdentityVerificationResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun identityVerificationGet(getIdentityVerificationRequest: GetIdentityVerificationRequest): HttpResponse<IdentityVerificationResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = getIdentityVerificationRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/identity_verification/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * List Identity Verifications
     * Filter and list Identity Verifications created by your account
     * @param listIdentityVerificationRequest
     * @return PaginatedIdentityVerificationListResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun identityVerificationList(listIdentityVerificationRequest: ListIdentityVerificationRequest): HttpResponse<PaginatedIdentityVerificationListResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = listIdentityVerificationRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/identity_verification/list",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Retry an Identity Verification
     * Allow a customer to retry their identity verification
     * @param identityVerificationRetryRequest
     * @return IdentityVerificationResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun identityVerificationRetry(identityVerificationRetryRequest: IdentityVerificationRetryRequest): HttpResponse<IdentityVerificationResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = identityVerificationRetryRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/identity_verification/retry",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * (Deprecated) Create an income verification instance
     * &#x60;/income/verification/create&#x60; begins the income verification process by returning an &#x60;income_verification_id&#x60;. You can then provide the &#x60;income_verification_id&#x60; to &#x60;/link/token/create&#x60; under the &#x60;income_verification&#x60; parameter in order to create a Link instance that will prompt the user to go through the income verification flow. Plaid will fire an &#x60;INCOME&#x60; webhook once the user completes the Payroll Income flow, or when the uploaded documents in the Document Income flow have finished processing.
     * @param incomeVerificationCreateRequest
     * @return IncomeVerificationCreateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun incomeVerificationCreate(incomeVerificationCreateRequest: IncomeVerificationCreateRequest): HttpResponse<IncomeVerificationCreateResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = incomeVerificationCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/income/verification/create",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * (Deprecated) Download the original documents used for income verification
     * &#x60;/income/verification/documents/download&#x60; provides the ability to download the source documents associated with the verification.  If Document Income was used, the documents will be those the user provided in Link. For Payroll Income, the most recent files available for download from the payroll provider will be available from this endpoint.  The response to &#x60;/income/verification/documents/download&#x60; is a ZIP file in binary data. If a &#x60;document_id&#x60; is passed, a single document will be contained in this file. If not, the response will contain all documents associated with the verification.  The &#x60;request_id&#x60; is returned in the &#x60;Plaid-Request-ID&#x60; header.
     * @param incomeVerificationDocumentsDownloadRequest
     * @return java.io.File
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun incomeVerificationDocumentsDownload(incomeVerificationDocumentsDownloadRequest: IncomeVerificationDocumentsDownloadRequest): HttpResponse<File> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = incomeVerificationDocumentsDownloadRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/income/verification/documents/download",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * (Deprecated) Retrieve information from the paystubs used for income verification
     * &#x60;/income/verification/paystubs/get&#x60; returns the information collected from the paystubs that were used to verify an end user&#39;s income. It can be called once the status of the verification has been set to &#x60;VERIFICATION_STATUS_PROCESSING_COMPLETE&#x60;, as reported by the &#x60;INCOME: verification_status&#x60; webhook. Attempting to call the endpoint before verification has been completed will result in an error.  This endpoint has been deprecated; new integrations should use &#x60;/credit/payroll_income/get&#x60; instead.
     * @param incomeVerificationPaystubsGetRequest
     * @return IncomeVerificationPaystubsGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun incomeVerificationPaystubsGet(incomeVerificationPaystubsGetRequest: IncomeVerificationPaystubsGetRequest): HttpResponse<IncomeVerificationPaystubsGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = incomeVerificationPaystubsGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/income/verification/paystubs/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * (Deprecated) Check digital income verification eligibility and optimize conversion
     * &#x60;/income/verification/precheck&#x60; is an optional endpoint that can be called before initializing a Link session for income verification. It evaluates whether a given user is supportable by digital income verification and returns a &#x60;precheck_id&#x60; that can be provided to &#x60;/link/token/create&#x60;. If the user is eligible for digital verification, providing the &#x60;precheck_id&#x60; in this way will generate a Link UI optimized for the end user and their specific employer. If the user cannot be confirmed as eligible, the &#x60;precheck_id&#x60; can still be provided to &#x60;/link/token/create&#x60; and the user can still use the income verification flow, but they may be required to manually upload a paystub to verify their income.  While all request fields are optional, providing either &#x60;employer&#x60; or &#x60;transactions_access_tokens&#x60; data will increase the chance of receiving a useful result.  This endpoint has been deprecated; new integrations should use &#x60;/credit/payroll_income/precheck&#x60; instead.
     * @param incomeVerificationPrecheckRequest
     * @return IncomeVerificationPrecheckResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun incomeVerificationPrecheck(incomeVerificationPrecheckRequest: IncomeVerificationPrecheckRequest): HttpResponse<IncomeVerificationPrecheckResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = incomeVerificationPrecheckRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/income/verification/precheck",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * (Deprecated) Refresh an income verification
     * &#x60;/income/verification/refresh&#x60; refreshes a given income verification.
     * @param incomeVerificationRefreshRequest
     * @return IncomeVerificationRefreshResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun incomeVerificationRefresh(incomeVerificationRefreshRequest: IncomeVerificationRefreshRequest): HttpResponse<IncomeVerificationRefreshResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = incomeVerificationRefreshRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/income/verification/refresh",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * (Deprecated) Retrieve information from the tax documents used for income verification
     * &#x60;/income/verification/taxforms/get&#x60; returns the information collected from forms that were used to verify an end user&#39;&#39;s income. It can be called once the status of the verification has been set to &#x60;VERIFICATION_STATUS_PROCESSING_COMPLETE&#x60;, as reported by the &#x60;INCOME: verification_status&#x60; webhook. Attempting to call the endpoint before verification has been completed will result in an error.  This endpoint has been deprecated; new integrations should use &#x60;/credit/payroll_income/get&#x60; instead.
     * @param requestBody
     * @return IncomeVerificationTaxformsGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun incomeVerificationTaxformsGet(requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>): HttpResponse<IncomeVerificationTaxformsGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = requestBody

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/income/verification/taxforms/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Get details of all supported institutions
     * Returns a JSON response containing details on all financial institutions currently supported by Plaid. Because Plaid supports thousands of institutions, results are paginated.  If there is no overlap between an institution’s enabled products and a client’s enabled products, then the institution will be filtered out from the response. As a result, the number of institutions returned may not match the count specified in the call.
     * @param institutionsGetRequest
     * @return InstitutionsGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun institutionsGet(institutionsGetRequest: InstitutionsGetRequest): HttpResponse<InstitutionsGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = institutionsGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/institutions/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Get details of an institution
     * Returns a JSON response containing details on a specified financial institution currently supported by Plaid.  Versioning note: API versions 2019-05-29 and earlier allow use of the &#x60;public_key&#x60; parameter instead of the &#x60;client_id&#x60; and &#x60;secret&#x60; to authenticate to this endpoint. The &#x60;public_key&#x60; has been deprecated; all customers are encouraged to use &#x60;client_id&#x60; and &#x60;secret&#x60; instead.
     * @param institutionsGetByIdRequest
     * @return InstitutionsGetByIdResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun institutionsGetById(institutionsGetByIdRequest: InstitutionsGetByIdRequest): HttpResponse<InstitutionsGetByIdResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = institutionsGetByIdRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/institutions/get_by_id",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Search institutions
     * Returns a JSON response containing details for institutions that match the query parameters, up to a maximum of ten institutions per query.  Versioning note: API versions 2019-05-29 and earlier allow use of the &#x60;public_key&#x60; parameter instead of the &#x60;client_id&#x60; and &#x60;secret&#x60; parameters to authenticate to this endpoint. The &#x60;public_key&#x60; parameter has since been deprecated; all customers are encouraged to use &#x60;client_id&#x60; and &#x60;secret&#x60; instead.
     * @param institutionsSearchRequest
     * @return InstitutionsSearchResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun institutionsSearch(institutionsSearchRequest: InstitutionsSearchRequest): HttpResponse<InstitutionsSearchResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = institutionsSearchRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/institutions/search",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Get Investment holdings
     * The &#x60;/investments/holdings/get&#x60; endpoint allows developers to receive user-authorized stock position data for &#x60;investment&#x60;-type accounts.
     * @param investmentsHoldingsGetRequest
     * @return InvestmentsHoldingsGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun investmentsHoldingsGet(investmentsHoldingsGetRequest: InvestmentsHoldingsGetRequest): HttpResponse<InvestmentsHoldingsGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = investmentsHoldingsGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/investments/holdings/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Get investment transactions
     * The &#x60;/investments/transactions/get&#x60; endpoint allows developers to retrieve up to 24 months of user-authorized transaction data for investment accounts.  Transactions are returned in reverse-chronological order, and the sequence of transaction ordering is stable and will not shift.  Due to the potentially large number of investment transactions associated with an Item, results are paginated. Manipulate the count and offset parameters in conjunction with the &#x60;total_investment_transactions&#x60; response body field to fetch all available investment transactions.
     * @param investmentsTransactionsGetRequest
     * @return InvestmentsTransactionsGetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun investmentsTransactionsGet(investmentsTransactionsGetRequest: InvestmentsTransactionsGetRequest): HttpResponse<InvestmentsTransactionsGetResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = investmentsTransactionsGetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/investments/transactions/get",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * Invalidate access_token
     * By default, the &#x60;access_token&#x60; associated with an Item does not expire and should be stored in a persistent, secure manner.  You can use the &#x60;/item/access_token/invalidate&#x60; endpoint to rotate the &#x60;access_token&#x60; associated with an Item. The endpoint returns a new &#x60;access_token&#x60; and immediately invalidates the previous &#x60;access_token&#x60;.
     * @param itemAccessTokenInvalidateRequest
     * @return ItemAccessTokenInvalidateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun itemAccessTokenInvalidate(itemAccessTokenInvalidateRequest: ItemAccessTokenInvalidateRequest): HttpResponse<ItemAccessTokenInvalidateResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = itemAccessTokenInvalidateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/item/access_token/invalidate",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    /**
     * List a user’s connected applications
     * List a user’s connected applications
     * @param itemApplicationListRequest
     * @return ItemApplicationListResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun itemApplicationList(itemApplicationListRequest: ItemApplicationListRequest): HttpResponse<ItemApplicationListResponse> {

        val localVariableAuthNames = listOf<String>("clientId", "plaidVersion", "secret")

        val localVariableBody = itemApplicationListRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
[...]
